<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.png" %>
	</div>
	<div id="content">
		<h1>AWT's T Face</h1>
		<p>
			Qui in direct trade hashtag gastropub XOXO swag woke consectetur. Paleo authentic aesthetic, chillwave wolf air plant freegan magna exercitation vape. Humblebrag gastropub id green juice etsy. Quis migas mumblecore wayfarers, pinterest ramps distillery next level tousled. Single-origin coffee migas celiac lo-fi dreamcatcher. Vaporware nostrud mustache thundercats before they sold out, cold-pressed affogato jean shorts tbh. 
		</p>
	</div>
	
</div>